.bullets {
  display: flex;
  flex-direction: column;
  height: 100%;

  .bullet {
    margin-top: 2rem;
    display: flex;
    flex-grow: 1;

    &__check__img {
      width: 1.5*$gutter;
      height: 1.5*$gutter;
      margin-right: 0.5rem;
    }

    &__text {
      font-size: 1.125rem;
    }

    &__heading {
      font-family: 'Roboto Slab', sans-serif;
      font-size: 1.5rem;
    }
  }
}
