.button {
  @include border-radius(4px);
  background-color: #555;
  color: white;
  border: 1px solid transparent;
  text-decoration: none;
}

.button--small {
  padding: 0.8em 1em 0.8em 1em;
  margin: 0 auto 5em auto ;
}

.button--medium {
  padding: 0.8em 1em 0.8em 1em;
  margin: 0 auto 5em auto ;
}

.button--wide {
  padding: 0.5em 2em 0.5em 2em;
  margin: 0 auto 5em auto ;
}

.button--order-page {
  padding: 0.8em 8em 0.8em 8em;
  margin: 0 auto 5em auto ;
}
