.heading {
  overflow-wrap: break-word;
  font-family: "Roboto Slab", sans-serif;

  &--one {
    font-size: 4.5rem;
  }

  &--two {
    font-size: 3.75rem;
  }

  &--three {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  &--centered {
    text-align: center;
  }
}
