<<<<<<< HEAD
.heading {
  font-family: 'Roboto Slab', sans-serif;

  &--one {
    font-size: 4.5rem;
  }

  &--two {
    font-size: 3.75rem;
  }

  &--three {
    font-size: 3rem;
  }

// .header {
//   background: transparent url(img/bg-subpage.jpg) no-repeat fixed 50% 50%;
//   background-size: cover;
//   text-align: left;
//   height: 15em;
//   display: flex;
//
//   h1 {
//     color:white;
//     border: 0;
//     margin: auto auto auto 0.2em;
//   }
// }
//
// .navbar {
//   overflow: hidden;
//   background: rgba(0,0,0,0.8);
//   position: fixed;
//   top: 0;
//   width: 100%;
//   text-decoration: none;
//
//   ul {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//   }
}
