.hero {
  height: 30*$gutter;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10*$gutter;
  font-family: 'Roboto Slab';
  
  &--index {
    height: 50*$gutter;
    background:
      linear-gradient(rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)),
      url('./img/bg.jpg') center center / cover fixed;

    .heading--two {
      font-size: 2.25rem;
      font-weight: normal;
    }
  }

  &--subpage {
    height: 20*$gutter;
    margin-bottom: 5*$gutter;
    background:
      linear-gradient(rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)),
      url('./img/bg-subpage.jpg') center center / cover;
    align-items: flex-start;
    color: white;

    .heading--one {
      border: 0;
      font-size: 48px;
      margin-left: 0.4rem;
    }
  }
}
