@keyframes fade1 {
  from { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 1; }
  to { opacity: 1; }
}

@keyframes fade2 {
  from { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 1; }
  75% { opacity: 1; }
  to { opacity: 1; }
}

@keyframes fadeb {
  from { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 0; }
  to { opacity: 1; }
}

.hero {
  display: flex;

  height: 30*$gutter;
  margin-bottom: 10*$gutter;

  font-family: "Roboto Slab";

  align-items: center;
  justify-content: center;
  flex-direction: column;

  &--index {
    height: 50*$gutter;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("./img/bg.jpg") center center / cover fixed;

    @media (max-width: $small-max-width) {
      height: 25*$gutter;
      margin-bottom: 3*$gutter;
      background-position: top left;
    }

    .heading--one {
      margin-bottom: 4rem;
      animation: 4s fade1 ease-in;

      @media (max-width: $small-max-width) {
        font-size: 3rem;
      }
    }

    .heading--two {
      font-size: 2.25rem;
      font-weight: normal;
      animation: 4s fade2 ease-in;

      @media (max-width: $small-max-width) {
        font-size: 1.5rem;
      }
    }
  }

  &--subpage {
    height: 20*$gutter;
    margin-bottom: 5*$gutter;
    color: #fff;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("./img/bg-subpage.jpg") center center / cover;
    align-items: stretch;

    @media (max-width: $small-max-width) {
      background-position: top left;
    }

    .heading--one {
      margin-left: 1.5rem;
      font-size: 3.75rem;
      border: 0;
    }
  }

  .button--medium {
    animation: 4s fadeb ease-in;
  }
}
