.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  padding: 0.5rem;

  background-color: rgba(0, 0, 0, 0.8);

  &__list {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
  }

  &__item:first-child {
    margin-right: auto;
    margin-left: 0;

    .link,
    .button {
      font-family: "Roboto Slab";
      font-size: 1.3125rem;
      font-weight: bold;
    }
  }

  &__item {
    margin-left: 1rem;

    .link,
    .button {
      color: #fff;
    }
  }

  &__item:last-child {
    @media (max-width: $small-max-width) {
      display: none;
    }
  }
}
