.reviews {
  padding-top: 7*$gutter;
  padding-bottom: 5*$gutter;
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  @media (max-width: $small-max-width) {
    padding-top: 2*$gutter;
  }

  .review {
    display: flex;
    flex-direction: column;

    @media (max-width: $small-max-width) {
      padding-bottom: 2*$gutter;
    }

    &__img {
      align-self: center;
      margin: 2rem 2rem 1rem;
      border-radius: 50%;
      width: 80%;
    }

    &__quote {
      margin-top: auto;
      padding-bottom: 1rem;
      text-align: center;
      flex-wrap: wrap;
      font-style: italic;
      font-weight: bold;
      font-size: 1.375rem;
    }

    &__name {
      align-self: center;
      font-weight: bold;
      margin-top: auto;
    }

    &__sublength {
      align-self: center;
      font-size: 0.8rem;
    }
  }
}
