.text {
  margin-bottom: 1rem;

  &--quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    float: right;
    width: 50%;
    margin: 2rem 0 4rem 8rem;

    blockquote {
      font-size: 24px;
      margin-bottom: 1rem;
    }
  }
}
