section {
  margin-bottom: 30px;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 30px;
}

hr {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border: 0;
  border-bottom: 1px solid #999;
}

.heading--styleguide {
    border-bottom: 1px solid;
}

.button {
  margin-bottom: 1rem;
}

.form {
  margin-bottom: 10rem;
}
