@charset "UTF-8";

// breytur fyrir mikið notaðar stærðir
$max-width: 1200px;
$medium-max-width: 599px;
$small-max-width: 399px;
$gutter: 20px;

@keyframes fade1 {
  from { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0.3; }
  75% { opacity: 0.7; }
  to { opacity: 1; }
}

@keyframes fade2 {
  from { opacity: 0; }
  25% { opacity: 0.2; }
  50% { opacity: 0.4; }
  75% { opacity: 0.75; }
  to { opacity: 1; }
}

@keyframes fadeb {
  from { opacity: 0; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  75% { opacity: 0.4; }
  to { opacity: 1; }
}

/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box;
}

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html { /* stylelint-disable-line */

  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: $max-width) {
    margin: 0;
  }
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;

  @media (max-width: $max-width) {
    margin-left: $gutter;
    margin-right: $gutter;
  }

  // þar sem við erum að eiga við neikvæð margin á grid, setjum overflow-x
  // hér sem hidden, þá fáum við ekki lárétta skrunstiku
  overflow: hidden;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

@import "scss/button";
@import "scss/bullet";
@import "scss/grid";
@import "scss/form";
@import "scss/heading";
@import "scss/review";
@import "scss/text";
@import "scss/nav";
@import "scss/hero";
@import "scss/input";
@import "scss/footer";
